@import "global.css";
@import "headings.css";
@import "rounded.css";
@import "table.css";
@import "buttons.css";
@import "inputs.css";
@import "list-container.css";

a {
  color: var(--link-color);
}

body {
  color: var(--text-color);
  background: var(--bg-color);
}

main {
  max-width: var(--container-width);
  padding: var(--base-gutter);
  margin: 0 auto;
}

section {
  padding: calc(var(--base-gutter) * 3);
  border: 2px solid var(--primary-color);
  border-radius: var(--border-radius);
}

hr {
  margin: calc(var(--base-gutter) * 3) 0;

  border: 1px solid var(--primary-color);
  border-radius: var(--border-radius);

  /* height: 1px; */
  /* background-color: var(--primary-color); */
  /* border: none; */
}

.focus {
  /* border: 1px solid var(--warning-color); */
  outline: 2px solid var(--warning-color);
  outline-offset: 0.25rem;
  border-radius: 0.25rem;
}

